{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html lang="{% if page.extra.lang %}{{ page.extra.lang }}{% else %}{{ config.default_language }}{% endif %}">

<head>
    <meta charset="utf-8">{% if config.extra.redirect %}
    <meta http-equiv="refresh" content="0; url='{{ config.extra.redirect | safe }}{% if page or section %}{{ current_path | safe }}{% endif %}'" />{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% elif section.title %}{{ section.title }}{% else %}{{ config.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% elif page %}{{ macros::page_description(page=page) }}{% elif section.description %}{{ section.description }}{% else %}{{ config.description }}{% endif %}">
    <meta name="keywords" content="{% for keyword in config.extra.keywords %}{{ keyword }}{% if not loop.last %}, {% endif %}{% endfor %}{% if page.taxonomies.tags %}{% for tag in page.taxonomies.tags %}, {{ tag }}{% endfor %}{% endif %}">
    <meta name="author" content="{{ config.author }}">{% if config.extra.favicon %}
    <link rel="icon" href="{{ get_url(path=config.extra.favicon) }}">{% endif %}{% if section and section.generate_feeds %}
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{ get_url(path=section.path ~ config.feed_filenames.0) }}">{% endif %}
    <link rel="stylesheet" href="{{ get_url(path='site.css') }}">{% if section or taxonomy %}
    <link rel="stylesheet" href="{{ get_url(path='extra.css') }}">{% endif %}{% if page.extra.katex %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, {
                delimiters: [
                    { left: '$$', right: '$$', display: true },
                    { left: '$', right: '$', display: false },
                ],
                throwOnError: false
            });
        });
    </script>{% endif %}
</head>

<body>
    <nav class="container">
        <ul>
            <li>
                <a href="{{ config.base_url | safe }}" title="Home">
                    {{ config.title }}
                </a>
            </li>
        </ul>
        <ul>
            {% if not page.extra.plain %}
            {% for item in config.extra.navbar_items %}
            {% if section or loop.last %}
            <li>
                <a href="{{ item.url | replace(from='$BASE_URL', to=config.base_url) | safe }}" {% if item.description %}title="{{ item.description }}" {% endif %}>
                    {{ item.text }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
            <li>
                <a id="theme-switcher" href="#" title="Switch theme">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z" />
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    {% block header %}{% endblock %}
    <main>{% if config.extra.redirect %}
        <article>This website is outdated, please visit <a href="{{ config.extra.redirect | safe }}{% if page or section %}{{ current_path | safe }}{% endif %}" title="New website">my new website</a> instead.</article>{% endif %}
        {% block content %}{% endblock %}
    </main>
    {% if section %}
    <footer>
        <small>
            Built with
            <a href="https://github.com/imartayan/zola-pico" title="Zola + Pico" target="_blank" rel="noopener">Zola + Pico</a>
        </small>
    </footer>
    {% endif %}
    <script src="{{ get_url(path='site.js') }}"></script>
    {% if page.toc and page.extra.toc %}
    <script src="{{ get_url(path='toc.js') }}"></script>{% endif %}
</body>

</html>